<!-- 驗證外掛 -->
<script src="/static/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="/static/plugins/jquery-validation/localization/messages_zh.min.js"></script>
<!-- 針對當前主題進行簡單封裝，精簡程式碼 -->
<script src="/static/sdtheme/scripts/sdvalidate.js"></script>
<script>
	var index = parent.layer.getFrameIndex(window.name); //先得到當前iframe層的索引
   $(function () {		
        //驗證
        validateInfo();       
    })	
    //表單驗證及AJAX提交
    function validateInfo() {
        var $thisForm = $('#thisForm');
        $thisForm.sdvalidate({
            // rules: {
            //     Name: {
            //         maxlength: 32,
            //         required: true
            //     }
            // },
            // messages: {},
            submitHandler: function (form) {
				var url ='{{ urlfor "CollectionController.Edit"}}'
				var data = $thisForm.serialize();				
				$.sdpost(url,data,function(re){
					if(re.code === 0){
						parent.layer.msg(re.msg)
						parent.refresh(re.obj)
						parent.layer.close(index)
					}else{
						parent.layer.alert(re.msg,{icon:2,title:'失敗'})
					}
				});
               return false;
            }
        });
    }

    function FormSubmit() {
        $("#thisForm").submit();		
    }
</script>