<div class="row">
        <!-- form start -->
        <form class="form-horizontal" id="thisForm">
            <input type="hidden" Name="Id" id="Id" value="{{.m.Id}}">
            <div class="form-group">
                <label class="col-sm-2 control-label">客戶名稱</label>
                <div class="col-sm-8">
                    <input type="text" name="ClientName" class="form-control" placeholder="" value="{{.m.ClientName}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">模號</label>
                <div class="col-sm-8">
                    <input type="text" name="Number" class="form-control" placeholder="" value="{{.m.Number}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">機種</label>
                <div class="col-sm-8">
                    <input type="text" name="ProductModel" class="form-control" placeholder="" value="{{.m.ProductModel}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">產品名稱</label>
                <div class="col-sm-8">
                    <input type="text" name="Name" class="form-control" placeholder="" value="{{.m.Name}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">塑料種類</label>
                <div class="col-sm-8">
                    <input type="text" name="PlasticType" class="form-control" placeholder="" value="{{.m.PlasticType}}">
                </div>
            </div>
        </form>
    </div>