<!-- 驗證外掛 -->
<script src="/static/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="/static/plugins/jquery-validation/localization/messages_zh.min.js"></script>
<!-- 針對當前主題進行簡單封裝，精簡程式碼 -->
<script src="/static/sdtheme/scripts/sdvalidate.js"></script>
<script>
	var index = parent.layer.getFrameIndex(window.name); //先得到當前iframe層的索引
//    $(function () {		
//         //驗證
//         validateInfo();   
//         moldSelectInit('{{.molds}}');
//     })	
    $(function () {  
          pageInit(); 
          $("#Molds").change(function(){
              //console.log($("#Molds").val())
              $("#MoldId").val($("#Molds").val())
              $("#MoldId").text($("#Molds").val())
            //   console.log($("#Molds").val())
            //   console.log($("#Molds option:selected").text())
          
            $("#MoldNumber").text($("#Molds option:selected").text())
            $("#MoldNumber").val($("#Molds option:selected").text())
          })
          $("#Machines").change(function(){
            // console.log($("#Machines option:selected").val())
              console.log($("#Machines option:selected").text())
              $("#MachineId").val($("#Machines option:selected").val())
              $("#MachineId").text($("#Machines option:selected").val())
              $("#MachineName").val($("#Machines option:selected").text())
              $("#MachineName").text($("#Machines option:selected").text())
          })
         
    })
    function pageInit(){
        //角色下拉框初始化
        moldSelectInit('{{.molds}}');
        machineSelectInit('{{.machinenames}}')
        validateInfo(); 
    }   
    function moldSelectInit(selecteds){
        var url = '{{urlfor "MoldController.DataList"}}';
       
        //console.log("mold selecteds: "+selecteds)
        // console.log("mold selecteds type: "+ typeof selecteds)
        // var url = /mold/datalist
        var $select =$("#Molds");
        $select.html('');
        $.sdpost(url,{},function(re){
            if(re.code === 0){               
                var html=[]
                $(re.obj).each(function(i,e){
                    html.push('<option value="'+e.Id+'">'+e.Number+'</option>')
                });
                $select.html(html.join(''));
                $select.selectpicker({liveSearch:true});
                $select.selectpicker('val',selecteds.split(','));
            }
            else{
                layer.alert("獲取資料失敗",{icon:2,title:'失敗'})
            }
        });
    }
    function machineSelectInit(selecteds){
        var url = '{{urlfor "MachineController.DataList"}}';
        var $select =$("#Machines");
        $select.html('');
        $.sdpost(url,{},function(re){
            if(re.code === 0){               
                var html=[]
                $(re.obj).each(function(i,e){
                    // console.log(e)
                    html.push('<option value="'+e.Id+'">'+e.MachineNumber+"--"+e.MachineName+'</option>')
                });
                $select.html(html.join(''));
                $select.selectpicker({liveSearch:true});
                //selecteds = "8"

                console.log("machine selecteds: "+selecteds)
                console.log("machine selecteds type: "+ typeof selecteds)
                $select.selectpicker('val',selecteds.split(','));
            }
            else{
                layer.alert("獲取資料失敗",{icon:2,title:'失敗'})
            }
        });
    }
    //表單驗證及AJAX提交
    function validateInfo() {
        var $thisForm = $('#thisForm');
        $thisForm.sdvalidate({
            // rules: {
            //     Name: {
            //         maxlength: 32,
            //         required: true
            //     }
            // },
            // messages: {},
            submitHandler: function (form) {
				var url ='{{ urlfor "ScheduleController.Edit"}}'
				var data = $thisForm.serialize();				
				$.sdpost(url,data,function(re){
					if(re.code === 0){
						parent.layer.msg(re.msg)
						parent.refresh(re.obj)
						parent.layer.close(index)
					}else{
						parent.layer.alert(re.msg,{icon:2,title:'失敗'})
					}
				});
               return false;
            }
        });
    }

    function FormSubmit() {
        $("#thisForm").submit();		
    }
</script>