<div class="row">
        <!-- form start -->
        <form class="form-horizontal" id="thisForm">
            <input type="hidden" Name="Id" id="Id" value="{{.m.Id}}">
          
            <div class="form-group">
                <label class="col-sm-2 control-label" required="required">模號</label>
                <div class="col-sm-8">
                    <select name="MoldIds" id="Molds" class="form-control"  required="required" >
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">射出機</label>
                <div class="col-sm-8">
                    <select name="MachineIds" id="Machines" class="form-control" required="required">
                    </select>
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label">生產數量</label>
                <div class="col-sm-8">
                    <input type="text" name="Qty" class="form-control" placeholder="" value="{{.m.Qty}}"  required="required">
                </div>
            </div>
            <div class="form-group" style="display:none">
                <label class="col-sm-2 control-label">MoldId</label>
                <div class="col-sm-8">
                    <input type="text" name="MoldId" id="MoldId" class="form-control" placeholder="" value="{{.m.MoldId}}">
                </div>
            </div>
            <div class="form-group" style="display:none">
                <label class="col-sm-2 control-label">MachineName</label>
                <div class="col-sm-8">
                    <input type="text" name="MachineName" id="MachineName" class="form-control" placeholder="" value="{{.m.MachineName}}">
                </div>
            </div>
            <div class="form-group" style="display:none">
                <label class="col-sm-2 control-label">MachineId</label>
                <div class="col-sm-8">
                    <input type="text" name="MachineId" id="MachineId" class="form-control" placeholder="" value="{{.m.MachineId}}">
                </div>
            </div>
            <div class="form-group" style="display:none">
                <label class="col-sm-2 control-label">模具text</label>
                <div class="col-sm-8">
                    <input type="text" name="MoldNumber" id="MoldNumber" class="form-control" placeholder="" value="{{.m.MoldNumber}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">開始時間</label>
                <div class="col-sm-8">
                    <input type="datetime-local" name="TimeStartinput" id="TimeStartinput" class="form-control" placeholder="" value="{{.m.TimeStart}}"  required="required">
                </div>
            </div>
            <div class="form-group" style="display:none">
                <label class="col-sm-2 control-label">TimeStart</label>
                <div class="col-sm-8">
                    <input type="text" name="TimeStart" id="TimeStart" class="form-control" placeholder="" value="{{.m.MachineId}}">
                </div>
            </div>
            
        </form>
    </div>