<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<link rel="stylesheet" href="../../static/lte/css/AdminLTE.min.css">
<div>
    <label>選擇射出機</label>
    <select>選擇射出機
        <option>1</option>
        <option>2</option>
</select>
</div>





<div id="chartdiv"></div>


<style>
    #chartdiv {
      width: 100%;
      height: 800px;
    }
    
    </style>
<!-- <h1>I am Chin</h1> -->