<div class="row">
        <!-- form start -->
        <form class="form-horizontal" id="thisForm">
            <input type="hidden" Name="Id" id="Id" value="{{.m.Id}}">
            <!-- <div class="form-group">
                <label class="col-sm-2 control-label">MAC</label>
                <div class="col-sm-8">
                    <input type="text" name="MacAddress" class="form-control" placeholder="" value="{{.m.MacAddress}}">
                </div>
            </div> -->
            <!-- <div class="form-group">
                <label class="col-sm-2 control-label">Machine</label>
                <div class="col-sm-8">
                    <input name="MachineName" class="form-control" placeholder="" value="{{.m.MachineName}}">
                </div>
            </div> -->
            <!-- <div class="form-group">
                <label class="col-sm-2 control-label">Number</label>
                <div class="col-sm-8">
                    <input type="text" name="MachineNumber" class="form-control" placeholder="" value="{{.m.MachineNumber}}">
                </div>
            </div> -->
            <div class="form-group">
                <label class="col-sm-2 control-label">射出機編號</label>
                <div class="col-sm-8">
                    <select name="MachineIds" id="Numbers" class="form-control" onchange="ChangeFunction()"></select>
                </div>
            </div>            
            
            
            <div class="form-group">
                <label class="col-sm-2 control-label">模號</label>
                <div class="col-sm-8">
                    <select name="MoldIds" id="Molds" class="form-control" onchange="ChangeFunction2()"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">生產數量</label>
                <div class="col-sm-8">
                    <input type="text" name="Qty" class="form-control" placeholder="" value="0">
                </div>
            </div>

            <!-- 關聯MachineName & MacAddress 隱藏 -->
            <div class="form-group" type="hidden" style="display: none;">
                <label class="col-sm-2 control-label">射出機名稱</label>
                <div class="col-sm-8">
                    <select type="hidden" name="Names" id="Names" class="form-control"></select>
                </div>
            </div>
            <div class="form-group" type="hidden" style="display: none;">
                <label class="col-sm-2 control-label">射出機 ID</label>
                <div class="col-sm-8">
                    <select name="Macs" id="Macs" class="form-control"></select>
                </div>
            </div>
            <div class="form-group" style="display: none;">
                <input type="text" name="MachineName" id="MachineName" class="form-control" value="{{.m.MachineName}}">
            </div>
            <div class="form-group" style="display: none;">
                <input type="text" name="MachineNumber" id="MachineNumber" class="form-control" value="{{.m.MachineNumber}}">
            </div>  
            <div class="form-group" style="display: none;">
                <input type="text" name="MacAddress" id="MacAddress" class="form-control" value="{{.m.MacAddress}}">
            </div> 
            <div class="form-group" style="display: none;">
                <input type="text" name="MoldNumber" id="MoldNumber" class="form-control" value="{{.m.MoldNumber}}">
            </div> 
       
            <!-- <div class="form-group">
                <label class="col-sm-2 control-label">Cycletime</label>
                <div class="col-sm-8">
                    <input type="text" name="Cycletime" class="form-control" placeholder="" value="{{.m.Cycletime}}">
                </div>
            </div> -->
            <!-- <div class="form-group">
                <label class="col-sm-2 control-label">Seq</label>
                <div class="col-sm-8">
                    <input type="text" name="Seq" class="form-control" placeholder="輸入看板排序">
                </div>
            </div> -->
        </form>
    </div>