<!-- 驗證外掛 -->
<script src="/static/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="/static/plugins/jquery-validation/localization/messages_zh.min.js"></script>
<!-- 針對當前主題進行簡單封裝，精簡程式碼 -->
<script src="/static/sdtheme/scripts/sdvalidate.js"></script>
<script>
	var index = parent.layer.getFrameIndex(window.name); //先得到當前iframe層的索引
   $(function () {		
        //驗證
        validateInfo();  
        numberSelectInit('{{.machinenames}}'); 
       
        macSelectInit();   
        nameSelectInit(); 
        moldSelectInit('{{.moldnames}}');
        // qtySelectInit();
    })	

    function ChangeFunction(){
        var x = $( "#Numbers option:selected").text();
       
       // console.log($( "#Numbers option:selected").text());
        var macx = "mac"+x;
        var namex = "name"+x;
        //console.log(macx.value);
        //console.log(namex.value);
        document.getElementById(macx).selected = "true";
        document.getElementById(namex).selected = "true";
        // console.log($( "#Names option:selected" ).val());
        // console.log($( "#Macs option:selected" ).val());
        $("#MachineNumber").val( $( "#Numbers option:selected").text());
        $("#MacAddress").val($( "#Macs option:selected" ).val());
        $("#MachineName").val($( "#Names option:selected" ).val());
        $("#MachineId").val($( "#Numbers option:selected" ).val());
        $("#MachineId").text($( "#Numbers option:selected" ).val());

        
    }
    function ChangeFunction2(){
        var x = $( "#Molds option:selected").text();
        $("#MoldNumber").val(x);     
        $("#MoldId").val($( "#Molds option:selected" ).val());
        $("#MoldId").text($( "#Molds option:selected" ).val());
    }
    
    function macSelectInit(){
        var url = '{{urlfor "MachineController.DataList"}}';
        var $select =$("#Macs");
        $select.html('');
        $.sdpost(url,{},function(re){
            if(re.code === 0){          
                var html=[]
                $(re.obj).each(function(i,e){
                    html.push('<option id="mac'+e.MachineNumber+'" disabled value="'+e.MacAddress+'">'+e.MacAddress+' <<---------->> '+e.MachineNumber+'</option>')         
                });
                $select.html(html.join(''));
              //  $select.selectpicker({liveSearch:true});
                // $select.selectpicker('val',selecteds.split(','));
            }
            else{
                layer.alert("獲取資料失敗",{icon:2,title:'失敗'})
            }
        });
    }
    function nameSelectInit(){
        var url = '{{urlfor "MachineController.DataList"}}';
        var $select =$("#Names");
        $select.html('');
        $.sdpost(url,{},function(re){
            if(re.code === 0){               
                var html=[]
                $(re.obj).each(function(i,e){
                    html.push('<option id="name'+e.MachineNumber+'" disabled value="'+e.MachineName+'">'+e.MachineName+' <<---------->> '+e.MachineNumber+'</option>')    
                });
                $select.html(html.join(''));
               // $select.selectpicker({liveSearch:true});
               // $select.selectpicker('val',selecteds.split(','));
            }
            else{
                layer.alert("獲取資料失敗",{icon:2,title:'失敗'})
            }
        });
    }
    function numberSelectInit(selecteds){
        var url = '{{urlfor "MachineController.DataList"}}';
        var $select =$("#Numbers");
        $select.html('');
        $.sdpost(url,{},function(re){
            if(re.code === 0){               
                var html=[]
                $(re.obj).each(function(i,e){
                    html.push('<option value="'+e.Id+'">'+e.MachineNumber+'</option>')
                });
                $select.html(html.join(''));
                $select.selectpicker({liveSearch:true});
                  console.log("machine selecteds: "+selecteds)
                console.log("machine selecteds type: "+ typeof selecteds)
               
                $select.selectpicker('val',selecteds.split(','));
            }
            else{
                layer.alert("獲取資料失敗",{icon:2,title:'失敗'})
            }
        });
    }
    function moldSelectInit(selecteds){
        var url = '{{urlfor "MoldController.DataList"}}';
        var $select =$("#Molds");
        $select.html('');
        $.sdpost(url,{},function(re){
            if(re.code === 0){               
                var html=[]
                $(re.obj).each(function(i,e){
                    html.push('<option value="'+e.Id+'">'+e.Number+'</option>')
                });
                $select.html(html.join(''));
                $select.selectpicker({liveSearch:true});
               $select.selectpicker('val',selecteds.split(','));
            }
            else{
                layer.alert("獲取資料失敗",{icon:2,title:'失敗'})
            }
        });
    }
    // function qtySelectInit(){
    //     var url = '{{urlfor "ScheduleController.DataList"}}';
    //     var $select =$("#Qtys");
    //     $select.html('');
    //     $.sdpost(url,{},function(re){
    //         if(re.code === 0){               
    //             var html=[]
    //             $(re.obj).each(function(i,e){
    //                 html.push('<option value="'+e.Qty+'">'+e.MoldNumber+'</option>')
    //             });
    //             $select.html(html.join(''));
    //             $select.selectpicker({liveSearch:true});
    //             $select.selectpicker('val',selecteds.split(','));
    //         }
    //         else{
    //             layer.alert("獲取資料失敗",{icon:2,title:'失敗'})
    //         }
    //     });
    // }

    function validateInfo() {
        var $thisForm = $('#thisForm');
        $thisForm.sdvalidate({
            // rules: {
            //     Name: {
            //         maxlength: 32,
            //         required: true
            //     }
            // },
            // messages: {},
            submitHandler: function (form) {
				var url ='{{ urlfor "DashboardAController.Edit"}}'
				var data = $thisForm.serialize();				
				$.sdpost(url,data,function(re){
					if(re.code === 0){
						parent.layer.msg(re.msg)
						parent.refresh(re.obj)
						parent.layer.close(index)
					}else{
						parent.layer.alert(re.msg,{icon:2,title:'失敗'})
					}
				});
               return false;
            }
        });
    }

    function FormSubmit() {
        $("#thisForm").submit();		
    }
</script>