<div class="row">
    <div style="display: flex; justify-content: center" font-size = "32px">
        <div class="col-md-11">
            <div>
                <h3 style="padding-left: 10px">
                    項目介紹：
                </h3>

                <div class="well well-sm">
                    <p>此係統提供了即時看板、動態看板、綜合稼動、歷史稼動、資料分析、資源管理、系統管理等主要功能，協助管理「人員」、「許可權」、「機臺」、「模具」間的關係。</p>
                    <p>【物聯網（英語：Internet of Things，縮寫 IoT）是互 聯網、傳統電信網等資訊承載體，讓所有能行使獨立功 能的普通物體實現互聯互通的網路。 】</p>
                    <p>這是維基百科上的解釋  </p>
                    <p>【物聯網就是把感測器裝備到電網、鐵路、橋樑、隧道、 公路、建築、供水系統、大壩、油氣管道以及家用電器 等各種真實物體上，通過網際網路聯接起來，進而執行特 定的程式，達到遠端控製或者實現物與物的直接通訊。</p>
                    <p>物聯網，即通過裝置在各類物體上的射頻識別(RFID)， 感測器、二維碼等，經過介面與無線網路相連，從而給 物體賦予“智慧”，實現人與物體的溝通和對話，也可 以實現物體與物體互相間的溝通和對話，這種將物體聯 接起來的網路被稱為“物聯網”。 】</p>    
                </div>
                <h3 style="padding-left: 10px">
                    功能介紹：
                </h3>
                <div class="well well-sm">
                    1：即時看板：。<br>
                    2：動態看板：。<br>
                    3：綜合稼動：。<br>
                    4：歷史稼動：。<br>
                    5：資料分析：。<br>
                    6：資源管理：。<br>
                    7：系統管理：。<br>
                </div>
            </div>
        </div>
    </div>
</div>