<!-- 驗證外掛 -->
<script src="/static/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="/static/plugins/jquery-validation/localization/messages_zh.min.js"></script>
<!-- 針對當前主題進行簡單封裝，精簡程式碼 -->
<script src="/static/sdtheme/scripts/sdvalidate.js"></script>
<script>
    var index = parent.layer.getFrameIndex(window.name); //先得到當前iframe層的索引
   $(function () {  
          pageInit(); 
    })
    function pageInit(){
        //角色下拉框初始化
        roleSelectInit('{{.roles}}');
        //附值
        $("#IsSuper").selectpicker('val','{{.m.IsSuper}}');
        $("#Status").selectpicker('val','{{.m.Status}}'); 
        //驗證
        validateInfo(); 
    }   
    //角色下拉框初始化
    function roleSelectInit(selecteds){
        var url = '{{urlfor "RoleController.DataList"}}';
        var $select =$("#Roles");
        $select.html('');
        $.sdpost(url,{},function(re){
            if(re.code === 0){               
                var html=[]
                $(re.obj).each(function(i,e){
                    html.push('<option value="' + e.Id + '">' + e.Name + '</option>')
                });
                $select.html(html.join(''));
                $select.selectpicker({liveSearch:true});
                $select.selectpicker('val',selecteds.split(','));
            }
            else{
                layer.alert("獲取資料失敗",{icon:2,title:'失敗'})
            }
        });
    }
    //正規表示式驗證
    jQuery.validator.methods.mobile = function (value, element, param) {
        //如果為空，直接過
        if (value.length == 0) return true;
        if (/^((13[0-9])|(14[5|7])|(15([0-3]|[5-9]))|(18[0,5-9]))\d{8}$/.test(value)) {
            return true;
        } else {
            return false;
        }
    }
    //表單驗證及AJAX提交
    function validateInfo() {
        var $thisForm = $('#thisForm');
        $thisForm.sdvalidate({
            rules: {
                UserName: {
                    maxlength: 24,
                    required: true
                },
                RealName: {
                    maxlength: 16,
                    required: true
                }, 
                Mobile: {
                    mobile: true,
                    maxlength: 16,
                }, 
                Email: {
                    email: true,
                    maxlength: 256,
                },                              
            },
            messages: {
                Mobile: {
                    mobile: "請輸入正確的手機號",
                },
            },
            submitHandler: function (form) {
                var url ='{{ urlfor "BackendUserController.Edit"}}'
                var data = $thisForm.serialize();               
                $.sdpost(url,data,function(re){
                    if(re.code === 0){
                        parent.layer.msg(re.msg)
                        parent.refresh(re.obj)
                        parent.layer.close(index)
                    }else{
                        parent.layer.alert(re.msg,{icon:2,title:'失敗'})
                    }
                });
               return false;
            }
        });
    }

    function FormSubmit() {
        $("#thisForm").submit();        
    }
</script>