<!-- 頁面內容開始 -->
<div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">                        
                        </div>
                        <div class="col-md-6 align-right">
                            <div class="btn-group">
                                <button class="btn btn-warning treegridexpend" data-target="#treeGrid" >
                                    <i class="fa fa-expand"></i> 全部展開</button>
                                <button class="btn btn-primary treegridcollapse" data-target="#treeGrid" >
                                    <i class="fa fa-compress"></i> 全部收縮
                                </button>
                            </div>
                        </div>
                    </div>
                    <table id="treeGrid" class="table  table-bordered table-hover margin-top-10">
                        <thead>
                            <th class="align-center">
                                <input type="checkbox" class="chkAll" />
                            </th>
                            <th>名稱</th>
                            <th class="align-center">圖示</th>
                            <th class="align-center">類別</th>
                            <th>地址</th>                             
                        </thead>
                        <tbody>                            
                        </tbody>
                    </table>
                </div>
            </div>
    
        </div>
    </div>
    <!-- 頁面內容結束 -->
    